body {
    background-color: #e0e0e0;
    color: #333;
    font-family: "Poppins", sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Conteneur principal */
.container {
    max-width: 700px;
    width: 90%;
    margin: 40px auto;
}

/* Ajustements responsive */
@media (max-width: 720px) {
  .container {
    width: 90%; /* Permet un meilleur affichage */
  }
}

@media (max-width: 540px) {
  .container {
    width: 95%;
  }
}

/* Carte blanche */
.card-white {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Titres */
h1, h2 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
}

/* Images */
img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#moi {
    width: 150px; /* Réduction pour mobile */
    border-radius: 50%;
}

img:hover {
    transform: scale(1.05);
}

/* Liens */
a {
    text-decoration: none;
    color: #ff884A;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

a i {
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

a:hover, a:hover i {
    color: #0077b5;
}

/* Liste */
ul {
    list-style: none;
    padding: 0;
}

/* Bouton LinkedIn */
.linkedin-button {
    background-color: transparent;
    color: #0077b5;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: 2px solid #0077b5;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.linkedin-button:hover {
    background-color: #0077b5;
    color: white;
}

.linkedin-button i {
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.linkedin-button:hover i {
    color: white;
}

/* Optimisation mobile */
@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    #moi {
        width: 120px;
    }

    .linkedin-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    img {
        max-width: 100%;
    }
}
